.metadataProvider {
  composes: card from '../../../Components/Card.css';

  position: relative;
  width: 300px;
  height: 100px;
}

.underlay {
  @add-mixin cover;
}

.overlay {
  @add-mixin linkOverlay;

  padding: 10px;
}

.name {
  text-align: center;
  font-weight: lighter;
  font-size: 24px;
}

.actions {
  margin-top: 20px;
  text-align: right;
}
