.metadataProvider {
  composes: card from '../../../Components/Card.css';

  width: 290px;
}

.name {
  @add-mixin truncate;

  margin-bottom: 20px;
  font-weight: 300;
  font-size: 24px;
}

.enabled {
  margin-bottom: 10px;
}

.features {
  margin-bottom: 10px;
}

.section {
  font-weight: bold;
  font-size: 11px;
  color: var(--helpTextColor);
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 5px;
}
